{% extends "base.html" %} {% block content %}
<h1>Stock Search</h1>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="symbol" placeholder="Enter ticker name" required>
    <button type="submit">Preview Stock</button>
</form>
{% if stock %}
    <h3>{{ stock.symbol }}: ${{ stock.price }}</h3>
    <!--CHANGE THIS BUTTON TO PREVIEW STOCK INSTEAD OF BUY IT...ADD BUY STOCK OPTION TO DIFFERENT PAGE -->
    <button onclick="previewStock('{{ stock.symbol }}', '{{ stock.price }}')">Preview</button>
{% endif %}
<a href="/portfolio">View Portfolio</a>
